/* Let's add some styling when we have some content :) */
table.buildingsTable, th, td {
    border: 1px solid black;
}

.saveControls button {
    padding: 10px 24px; /* Some padding */
    float: left; /* Float the buttons side by side */
}